<h2>All User Posts</h2>
<ul>
<% @post.each do |post| %>
  <li>
    <% if current_user.id == post.user.id %>
    <a href="/post/<%= post.id %>"><b><%= post.text %></b></a>
    <% else %>
    <b><%= post.text %></b>
    <% end %>
    <p style="font-size:10px">
    Author: <%= post.user.username %> - <%= post.user.life_value %>
    </br>Posted <%= post.created_at %>
    </br>Updated <%= post.updated_at %></p>
  </li>
<% end %>
</ul>

<a href="/post/new">New Post</a>
</br>
</br><a href="/users/profile">Back to Profile</a>
</br><a href="/logout">Log Out</a>

<!-- <div class="wrap"> 
<div>
  <h2 class="title"> Filters </h2>
  
  <div class="byUser">
    <span class="title">All post by User : </span>
    <select id="selUser">
      <option value=0>All</option>
    </select>
    <button type="button" onclick="searchUser()">Search </button>
  </div>
</div>

</div>

<div class="wrap">
  <div><h3 class="title">Posts</h3></div>
  <p class="reply">
  </p>
</div> -->