<a href="<%= @cardpack[0].image%>" target="_blank"><img src="<%= @cardpack[0].image%>" style="width:225px;height:315px;"></a>
<a href="<%= @cardpack[1].image%>" target="_blank"><img src="<%= @cardpack[1].image%>" style="width:225px;height:315px;"></a>
<a href="<%= @cardpack[2].image%>" target="_blank"><img src="<%= @cardpack[2].image%>" style="width:225px;height:315px;"></a>
</br><a href="/collection">Back to Collection</a>