<div class="container">
  <!-- <header><a href="images/Car01.png" target="_blank"><img src="images/Car01.png" style="width:225px;height:315px;"></a></header> -->
  <div class="col-md-8 col-md-offset-2">
    <h2>Life Trading Card Game</h2>

    <div class="content">
      <p>Welcome to the LifeTCG! Life TCG is a simple trading card game where you can collect cards and increase your life score compared to other players.
      For a more detailed explanation about how this works please view the <a href="/rules">rules</a>.</p>
        <nav>
          <% if logged_in? %>
            <p>Welcome, <b><%=current_user.username %></b></p>
            </br><a href="/users/profile">Profile</a>
            </br><a href="/logout">Log Out</a>
          <% else %>
            <p>Please sign in or sign up below:</p>
            <a href="/signup">Sign Up</a>
            </br><a href="/login">Sign In</a>
          <%end %>

        </nav>
    </div>
    <div class="content">
    <h3>Player Rankings</h3>
    <ol type="1">
      <% @all_users.each do |life| %>
        <li><%= life.username %> <%= life.life_value %></li>
      <% end %>
    </ol>
    </div>
    <div class="sidebar">
      <h3>Card Showcase</h3>
      <a href="<%= @random.image %>" target="_blank"> <img src="<%= @random.image %>" style="width:225px;height:315px;"></a>
    </div>

  </div>
</div>
